body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.padding{
  padding: 0 2rem;
}

.padding1{
  padding: 1rem;
}

.margin-auto{
  margin: auto;
}

.border-radius{
  border-radius: 5px;
}

.border-radius2{
  border-radius: 50%;
}


.marqueeText {
  display: block;
  width: 200%;
  height: 30px;

  position: absolute;
  overflow: hidden;

  animation: marquee 5s linear infinite;
  float: left;

}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

/* iframe{
  width: 90%;
} */